@use "src/styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.task-actions {
  height: 44px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  .block-buttons {
    width: 124px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    &__button {
      width: 36px;
      height: 36px;

      border: 1px solid $border-color;
      background-color: $button-bg-color;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Roboto";
      font-size: 16px;
      font-weight: 700;
      color: #ffffff;
      img {
        width: 14px;
        height: 14px;
      }
    }
    button:hover {
      @include focus-color();
    }
  }
}
