.modal-content {
  max-width: 600px;
  width: 90vw;
  height: 451px;
  border-radius: 8px;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .edit-window {
    max-width: 90%;
    width: 100vw;
    height: 415px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .edit-title {
      max-width: 100%;
      width: 100vw;
      height: 32px;
      color: #f0e3ca;
      font-size: 14px;
      border-radius: 4px;
      font-family: "Roboto";
      font-weight: 400;
      margin-bottom: 10px;
      @include color();
      outline: none;
      padding-left: 9px;
    }
    .edit-title:focus {
      @include focus-color();
      opacity: 1;
    }

    .edit-about {
      max-width: 100%;
      width: 100vw;
      height: 343px;
      border-radius: 4px;
      color: #f0e3ca;
      font-size: 14px;
      font-family: "Roboto";
      font-weight: 400;
      margin-bottom: 10px;
      @include color();
      outline: none;
      padding-top: 8px;
      padding-left: 9px;
      resize: none;

      &:focus {
        @include focus-color();
      }

      &::placeholder {
        color: $text-color;
      }
    }

    .buttons {
      max-width: 30%;
      width: 100vw;

      display: flex;
      justify-content: center;
      button {
        width: 64px;
        height: 24px;
        font-size: 10px;
        border-radius: 4px;
        font-family: "Roboto";
        font-weight: 400;
        @include color();
        color: #d9d9d9;
        cursor: pointer;
        margin-right: 12px;

        &:hover {
          @include focus-color();
        }
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7) !important;
  overflow: hidden;
  overflow-y: auto;
  z-index: 999;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

:global {
  .ReactModal__Overlay--after-open {
    opacity: 1;
  }

  .ReactModal__Overlay--before-close {
    opacity: 0;
  }
}
