@use "./variables" as *;

@mixin focus-color {
  border: 1px solid $focus-color;
  background-color: $background-color;
}

@mixin color {
  border: 1px solid $border-color;
  background-color: $background-color;
}
