@mixin focus-color {
  border: 1px solid variables.$focus-color;
  background-color: variables.$background-color;
}

@mixin color {
  border: 1px solid variables.$border-color;
  background-color: variables.$background-color;
}
