// Colors
$background-color: #1b1a17;
$focus-color: #ff8303;
$text-color: #f0e3ca;
$border-color: #a35709;
$modal-bg-color: #070707e3;
$button-bg-color: #23221f;
$button-hover-bg-color: #2a2926;
$button-text-color: #d9d9d9;
$white-color: #ffffff;

// Fonts
$font-roboto: "Roboto";

// Sizes
$container-width: 100vw;
$container-height: 100vh;
$input-height: 70px;
$max-width: 400px;
$border-radius: 4px;
$button-radius: 100%;
$h3-font-size: 22px;
$p-font-size: 14px;
$button-font-size: 16px;
